{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description -%}
    <meta name="description" content="{{article.description}}" />
  {%- endif %}

  {% for tag in article.tags -%}
    <meta name="tags" content="{{tag}}" />
  {%- endfor %}

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:domain" content="smetj.net" />

  {% if article.title -%}
    <meta property='og:title' content="{{ article.title }}"/>
    <meta name="twitter:title" content="{{ article.title }}"/>
  {%- endif %}

  {% if article.image -%}
    <meta property='og:image' content='{{ SITEURL }}/{{ article.image }}'/>
    <meta name='twitter:image' content='{{ SITEURL }}/{{ article.image }}'/>
  {%- endif %}

  {% if article.description -%}
    <meta property='og:description' content="{{ article.description }}"/>
    <meta name='twitter:description' content="{{ article.description }}"/>
  {%- endif %}

  {% if article.url -%}
    <meta property='og:url' content='{{ SITEURL }}/{{ article.slug }}.html'/>
    <meta name='twitter:url' content='{{ SITEURL }}/{{ article.slug }}.html'/>
  {%- endif %}

{% endblock %}

{% block content %}
<section id="content" class="body">
  <footer class="post-info">
    <div class="article-date">
      <time class="published" datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </time>
    </div>
  </footer>
  <header>
    <div class="title">
      <h1>{{ article.title }}</h1>
    </div>

    {% if article.tags | length > 0 %}
      <div class="tags">Tags:</div>
      {% set comma = joiner("| ") %}
      {% for tag in article.tags %}
            {{ comma() }}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
    {% endif %}

  </header>
  <div class="entry-content">
    {% if article.image %}
    <p><img src="{{ article.image }}"></p>
    {% endif %}
    {{ article.content }}
  </div>
</section>
{% endblock %}
